.app-header {
  background-color: white; 
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  text-transform: uppercase;
}






.header-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.header-content:hover {
  opacity: 0.8;
}

.bank-icon {
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(33, 55, 103); /* Un color azul oscuro */
}

.bank-name {
  margin: 0;
  font-size: 2rem;
  color: rgb(33, 55, 103);
}
